{:deps {org.clojure/clojurescript {:mvn/version "1.10.773"}
        reagent/reagent {:mvn/version "1.0.0"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
 :paths ["src" "target" "resources"]}
